target

.project
.classpath
.settings
*.iml

*.class

# Package Files #
*.jar
*.war
*.ear

.idea/compiler.xml
.idea/encodings.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/.name
.idea/libraries
.idea/copyright
.idea/scopes
.idea/misc.xml